:host.minimize {
    position: fixed;
    bottom: 55px;
    right: 20px;
    top: auto;
    left: auto;
}

:host {
    position: absolute;
    left: 280px;
    top: 64px;
    right: 0px;
    bottom: 64px;
    z-index: 200;
    overflow-x: hidden;
}

:host:not(.minimize) > .player-wrapper {
    position: relative;
    top: 50px;
}

:host.cinema {
    background-color: rgba(0, 0, 0, 0.9);
}

@keyframes mini {
    from {
        position: static;
    }
    
    to {
        position: fixed;
        bottom: 75px;
        right: 20px;
    }
}


@keyframes maxi {
    0% {
        position: fixed;
        bottom: 75px;
        right: 20px;
    }
    
    100% {
    }
}