:host.minimize {
    position: fixed;
    bottom: 60px;
    right: 25px;
    top: auto;
    left: auto;
    transform-origin: 50%, 50%;
    transition: .4s ease-out;
    transform: translate(35%, 33%) scale(0.3, 0.3) ;
}



:host {
    position: absolute;
    left: 280px;
    top: 64px;
    right: 0px;
    bottom: 64px;
    z-index: 200;
    overflow-x: hidden;
    transition: 0.4s ease-out;
}

:host:not(.minimize) > .player-wrapper {
    position: relative;
    top: 50px;
}

:host.cinema {
    background-color: rgba(0, 0, 0, 0.9);
}
