#search, .search-wrapper, .search-form {
    height: 100%;
}

.material-icons {
    color: black !important;
}

#search {
    color: black !important;
}

.input-field {
    width: 70%;
}


.dropdown-button {
    color: black;
    font-size: 18px;
}