<div class="navbar-fixed">
    <nav class="top-nav grey lighten-5">
            <div class="nav-wrapper">
                <form class="search-wrapper row" [ngFormModel]="form" (submit)="onSearch()">
                    <div class="input-field col s8 search-wrapper">
                        <input id="search" type="search" 
                               class="grey lighten-5"
                               ngControl="search">
                        <label for="search">
                            <i class="material-icons">search</i>
                        </label>
                        <i *ngIf="search.value" class="material-icons" (click)="resetSearch()">close</i>
                    </div>
<!--                    
                        <ul id="dropdown-duration" class="dropdown-content">
                            <li><a href="#!">ANY</a></li>
                            <li><a href="#!">Short</a></li>
                            <li><a href="#!">medium</a></li>
                            <li><a href="#!">Long</a></li>
                        </ul>
                        <a class="dropdown-button" data-activates="dropdown-duration">
                            Duration
                            <i class="material-icons right">array_drop_down</i>
                        </a>
                    -->
                    
                </form>
            </div>
    </nav>
</div>

