#search, .search-wrapper, .search-form {
    height: 100%;
}

.material-icons {
    color: black !important;
}

#search {
    color: black !important;
}

.input-field {
    /*margin-left: 15px;*/
    width: 70%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
