<div class="navbar-fixed">
    <nav class="top-nav grey lighten-5">
        <div class="container search-wrapper">
            <div class="nav-wrapper">
                <form class="search-wrapper" [ngFormModel]="form" (submit)="onSearch()">
                    <div class="input-field search-wrapper">
                        <input id="search" type="search" 
                               class="grey lighten-5"
                               ngControl="search">
                        <label for="search">
                            <i class="material-icons">search</i>
                        </label>
                            <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>

