.section {
    padding-left: 200px;
    padding-bottom: 150px;
}

header, footer {
    padding-left: 240px;
}

footer {
    position: absolute;
    bottom: 0;
}


@media only screen and (max-width : 992px) {
    header, .section, footer {
        padding-left: 0;
    }
}