<header>
  <navbar></navbar>
  <!--<div class="container">
    <a class="button-collapse top-nav full hide-on-large-only" data-activates="nav-mobile">
      <i class="material-icons">menu</i>
    </a>
  </div>-->
  <sidenav></sidenav>
</header>

<div class="section no-pad-bot" [class.cinema]="(cinemaMode | async) && !(minimize | async)">
  <div class="container">
    <thumbnail-list [videos]="research"></thumbnail-list>
    <player-container class="z-depth-3"></player-container>
  </div>
</div>

<footer>
    <navbar-footer></navbar-footer>
</footer>
