.section {
    padding-left: 160px;
    padding-bottom: 150px;
}

.section.cinema {
    padding-top: 100px;
    height: auto;
}

header, footer {
    padding-left: 240px;
}

footer {
    position: absolute;
    bottom: 0;
}

player-container {
    text-align: center;
}

.cinema, :host.cinema {
    background-color: black;
}



@media only screen and (max-width : 992px) {
    header, .section, footer {
        padding-left: 0;
    }
}

