.navbar-icon {
    color: #4db6ac;
}

.icon-divider {
    padding: 10px;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.white-icon {
    color: white;
}

li {
    padding: 0 15px;
}

a {
    padding: 0;
}

li a:hover {
    background: initial;
}

li a i:hover {
    opacity: 0.6;
}