<div class="navbar-fixed">
    <nav class="black">
        <div class="nav-wrapper">
            <ul class="left">
                <li>
                    <a class="navbar-icon" (click)="onPrevious()">
                        <i class="material-icons">skip_previous</i>
                    </a>
                </li>
                <li [hidden]="playing">
                    <a class="navbar-icon" (click)="onPlay()">
                        <i class="material-icons" *ngIf="!isPlay()">play_arrow</i>
                        <i class="material-icons" *ngIf="isPlay()">pause</i>
                    </a>
                </li>
               <li [hidden]="!playing">
                    <a class="navbar-icon" (click)="onPause()">
                        <i class="material-icons">pause</i>
                    </a>
                </li>
                <li>
                    <a class="navbar-icon" (click)="onStop()">
                        <i class="material-icons">stop</i>
                    </a>
                </li>
                <li>
                    <a class="navbar-icon" (click)="onNext()">
                        <i class="material-icons">skip_next</i>
                    </a>
                </li>
                <li>
                    <a class="navbar-icon" (click)="onRepeat()">
                        <i class="material-icons" *ngIf="isRepeatNone()" [style.color]="'white'">repeat</i>
                        <i class="material-icons" *ngIf="isRepeatAll()">repeat</i>
                        <i class="material-icons" *ngIf="isRepeatOne()">repeat_one</i>
                        
                        <!-- repeat_one -->
                    </a>
                </li>
                <li>
                    <a class="navbar-icon" (click)="onVolume()">
                        <i class="material-icons">volume_up</i>
                        <!-- volume_mute -->
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
