.nav-wrapper {
    border-left: 5px solid #4db5ac;
}

.navbar-icon {
    color: #80cbc4
}

.navbar-icon:hover {
    background-color: transparent;
}

.icon-divider {
    padding: 10px;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.volume-slider > p {
    position: relative;
    left: 5px;
    bottom: 15px;
}

.white-icon {
    color: white;
}

li {
    padding: 0 15px;
}

a {
    padding: 0;
}

li a:hover {
    background: initial;
}

li a i:hover {
    opacity: 0.6;
}

input[type="range"] {
    -moz-appearance: none;
    border: none;
}