<div class="navbar-fixed">
    <nav class="black">
        <div class="nav-wrapper">
            <ul class="left">
                <li>
                    <a class="navbar-icon" (click)="onPrevious()">
                        <i class="material-icons">skip_previous</i>
                    </a>
                </li>
                <li [hidden]="playing">
                    <a class="navbar-icon" (click)="onPlay()">
                        <i class="material-icons">play_arrow</i>
                    </a>
                </li>
               <li [hidden]="!playing">
                    <a class="navbar-icon" (click)="onPause()">
                        <i class="material-icons">pause</i>
                    </a>
                </li>
                <li>
                    <a class="navbar-icon" (click)="onRepeat()">
                        <i class="material-icons">repeat</i>
                        <!-- repeat_one -->
                    </a>
                </li>
                <li>
                    <a class="navbar-icon" (click)="onNext()">
                        <i class="material-icons">skip_next</i>
                    </a>
                </li>
                <li>
                    <a class="navbar-icon" (click)="onVolume()">
                        <i class="material-icons">volume_up</i>
                        <!-- volume_mute -->
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
