<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue-grey darken-4">
            <ul class="left" [class.disabled]="disabled">
                <li>
                    <a class="navbar-icon button-collapse" data-activates="nav-mobile" (click)="sidebar()">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                </li>
                <li>
                    <a class="navbar-icon" [class.disabled]="isStop()" (click)="onStop()">
                        <i class="material-icons">stop</i>
                    </a>
                </li>
                <li class="icon-divider"></li>
                <li>
                    <a class="navbar-icon" (click)="onRepeat()">
                        <i class="material-icons" *ngIf="isRepeatNone()" [style.color]="'white'">repeat</i>
                        <i class="material-icons" *ngIf="isRepeatAll()">repeat</i>
                        <i class="material-icons" *ngIf="isRepeatOne()">repeat_one</i>
                    </a>
                </li>
                <li class="icon-divider"></li>
                <li>
                    <a class="navbar-icon" [class.disabled]="!isRealPlaylist()" (click)="onPrevious()">
                        <i class="material-icons">skip_previous</i>
                    </a>
                </li>
                <li>
                    <a class="navbar-icon" (click)="onPlay()">
                        <i class="material-icons" *ngIf="!isPlay()">play_arrow</i>
                        <i class="material-icons" *ngIf="isPlay()">pause</i>
                    </a>
                </li>
                <li>
                    <a class="navbar-icon" [class.disabled]="!isRealPlaylist()" (click)="onNext()">
                        <i class="material-icons">skip_next</i>
                    </a>
                </li>
                <li class="icon-divider"></li>
                <li>
                    <a class="navbar-icon" (click)="onMute()">
                        <i class="material-icons" *ngIf="mute">volume_off</i>
                        <span *ngIf="!mute">
                            <i class="material-icons" *ngIf="volume == 0">volume_mute</i>
                            <i class="material-icons" *ngIf="volume <= 50 && volume > 0">volume_down</i>
                            <i class="material-icons" *ngIf="volume > 50">volume_up</i>
                        </span>
                    </a>
                </li>
                <li class="volume-slider" [class.disabled]="mute">
                    <p class="range-field">
                        <input type="range" [value]="volume" (change)="setVolume($event.target.value)" min="0" max="100" />
                    </p>
                </li>
                <li>
                    <select class="browser-default" [(ngModel)]="quality" (change)="onQuality($event.target.value)">
                        <option *ngFor="let quality of qualities" [value]="quality.value">{{quality.text}}</option>
                    </select>
                 </li>
                <li class="icon-divider"></li>
                <li>
                    <a class="navbar-icon" (click)="onCinemaMode()">
                        <i class="material-icons" [class.white-icon]="cinemaMode | async">local_movies</i>
                    </a>
                </li>
                <li class="icon-divider"></li>
                <li>
                    <a class="navbar-icon" (click)="onMinimize()">
                        <i class="ion-arrow-expand" *ngIf="isMinimize()"></i>
                        <i class="ion-arrow-shrink" *ngIf="!isMinimize()"></i>
                    </a>
                </li>
                <li class="icon-divider"></li>
                <li>
                    <a class="navbar-icon" (click)="onPlaylist()" [class.disabled]="isInPlaylist()">
                        <i class="material-icons valign playlist-icon">favorite</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
