.playArrow {
    position: absolute;
    text-align: center;
    top: 33%;
    left: 38%;
    opacity: 0.5;
}

.thumbnail:hover > .thumb img {
    opacity: 0.6;
    animation: hover-opacity .4s ease-out;
}

@keyframes hover-opacity {
    
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0.6;
    }
}



.duration {
    position: absolute;
    right: 0;
    bottom: 0px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #37474f;
    font-weight: bold;
    padding: 2px;
}

.duration > i {
    padding-left:2px;
    font-size: 17px;
    font-weight: bold;
}

.duration span {
    margin-left: 3px;
    margin-right: 3px;
}

.thumb {
    position: relative;
    display: inline-block;
}

.thumbnail {
    cursor: pointer;
}

:host, .thumb, .thumbnail {
    height: 100%;
}