.playArrow {
    position: absolute;
    text-align: center;
    top: 33%;
    left: 38%;
    opacity: 0.5;
}

.duration {
    position: absolute;
    right: 0;
    font-size: 14px;
    margin-top: -27px;
    margin-left: 5px;
    background-color: grey;
    color: white;
}

.duration span {
    margin-left: 3px;
    margin-right: 3px;
}

.thumb {
    position: relative;
    display: inline-block;
}

.thumbNail {
    cursor: pointer;
}