.playArrow {
    position: absolute;
    width: 200px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.duration {
    position: absolute;
    right: 0;    
}

.thumb {
    position: relative;
    display: inline-block;
}

.thumbNail {
    width: 200px;
    cursor: pointer;
}

.title {
    position: relative;
    top: 10px;
}