<div class="thumbnail card hoverable">
    <div class="thumb">
        <div (click)="onThumbnailClick()" class="card-image">
            <img [src]="video.thumbnailUrl" 
                [style.position]="relative" 
                [style.z-index]="0"
                class="z-depth-1 responsive-img waves-light"
            />
            
            <div class="duration valign-wrapper">
                 <i class="material-icons valign">schedule</i>
                 <span class="valign">{{ video.duration | isoToHMS }}</span>
            </div>
            
        </div>
    </div>
    <div class="card-content activator">
        <span class="grey-text activator text-darken-4 truncate"> 
            <h6 class="activator">{{ video.title }}</h6>
        </span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
            {{ video.title }}
            <i class="material-icons right">close</i>
        </span>
        <p [style.overflow]="'hidden'" [innerHTML]="video.description | newlines | replaceUrl">
        </p>
    </div>
    <div class="card-action">
        <a (click)="addToPlaylist()" [class.disabled]="isInPlaylist" 
           class="valign-wrapper">
            <i *ngIf="!isInPlaylist" class="material-icons valign">add</i> 
            <span class="valign"> 
                <span *ngIf="!isInPlaylist">
                    Add to playlist
                </span>
                <span *ngIf="isInPlaylist">
                    Already in playlist
                </span>
            </span>
        </a>
    </div>
</div>