<div class="thumbnail">
    <div class="thumb">
        <div (click)="onThumbnailClick()">
            <img [src]="video.thumbnailUrl" 
                [style.position]="relative" 
                [style.z-index]="0"
                class="z-depth-1 responsive-img"
            />
            
            <div class="duration">
                 <span>{{ video.duration | isoToHMS }}</span>
            </div>
            

            <!--<div class="playArrow">
                <i [hidden]="!hover" 
                [style.z-index]="1" 
                class="material-icons medium icon-demo">
                    play_circle_outline
                </i>
            </div>-->
        </div>
    </div>
    <div>
        <span [hidden]="!showTitle">
            <h6>{{video.title}}</h6>
        </span>
        
        
        <div [hidden]="showTitle">
            <a class="btn-floating" (click)="addToPlaylist()" title="Add to playlist">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
</div>