

#logo-container {
    height: 57px;
    margin-bottom: 32px;
}

.brand {
    background-color: #212121;
    height: 64px;
    color: white;
    border-right: 8px solid #fafafa;
}


.brand > * {
    display: inline-block;
}

.brand-title {
    margin-left: 6px;
    font-size: 30px;
    font-weight: bold;
}

.brand-logo {
    color: #4db6ac;
    font-size: 35px;
    font-weight: bold;
}

.side-nav {
    width: 280px;
    background-color: #323538;
}

.playlist-icon {
    color: #d32f2f;
    font-size: 30px;
}

.playlist-wrapper > * {
    display: inline-block;
}

.sidenav-category {
    color: white;
    border-right: 8px solid #4db6ac;
    padding: 5px;
}

.sidenav-category-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.sidenav-item {
    background-color: #212121;
    color: white;
    cursor: pointer;
}

.sidenav-item.active {
    border-right: 8px solid #ff4081 ;
}

.sidenav-item:not(.active):hover {
    border-right: 8px solid #b3e5fc;
    opacity: 0.8;
    color: white;
}



.sidenav-category > *, .sidenav-item > * {
    display: inline-block;
    /*margin-left: 10px;*/
 }
 
 .btn-small {
    width: 30px;
    height: 30px !important;
    line-height: 30px;
    float: right;
    margin-right: 5px;
    padding: 0;
 }

 sidenav-tile {
    width: 100%;
}

.side-nav a {     
    color: #444;     
    display: block;     
    font-size: 1rem;
}

.half-transparent:not(.active) {
    background-color: rgba(0, 0, 0, 0.7);
}