<ul id="nav-mobile" class="left side-nav fixed">
  <li class="brand center-align">
    <i class="ion-social-youtube brand-logo"></i>
    <span class="brand-title center-align">NgTube</span>
  </li>
  <li class="sidenav-category blue-grey darken-4 valign-wrapper">
    <div class="sidenav-category-icon valign-wrapper valign">
        <i class="material-icons valign">favorite</i>
    </div>
    <div class="sidenav-category-text center-align">
        Playlist
    </div>
    <div class="sidenav-category-icon valign-wrapper valign">
    <a class="btn-flat red" (click)="clear_playlist()" [class.disabled]="videos.length === 0">
      <i class="material-icons">insert_chart</i>
    </a>
    </div>
  </li>
  
  <li class="sidenav-item" *ngFor="let video of videos" [class.active]="video.selected">
    <sidenav-tile 
      [video]="video"
      (click)="onClick(video)">
    </sidenav-tile>
  </li>
</ul>

