<div *ngIf="(show | async)" 
     infiniteScroll (next)="nextPage()" 
     [infiniteScrollThrottle]="200"
     [infiniteScrollDistance]="300">
     
    <ul class="row" *ngIf="!(loading | async) || videos.length > 0">
        <li *ngFor="let video of videos" class="col s12 l3 m6">
            <thumbnail 
                (clickThumbnail)="onThumbnailClick(video)"
                (clickTitle)="addToPlaylist(video)"
                [video]="video">
            </thumbnail>
        </li>
    </ul>
    <div *ngIf="videos?.length === 0 && !(loading | async)">
        <p>No results found, maybe try with another spelling?</p>
    </div>
</div>